QuizStaff/Client/Service References/ServiceReference/ApplicationServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplicationServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObject" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationServer_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_GetAllTestees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestees" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_GetAllTestees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTesteesResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_SaveAllTestees_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAllTestees" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_SaveAllTestees_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAllTesteesResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_GetTestee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestee" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_GetTestee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTesteeResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_GetTrainingQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainingQuestions" />
  </wsdl:message>
  <wsdl:message name="IApplicationServer_GetTrainingQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainingQuestionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationServer">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationServer/GetData" message="tns:IApplicationServer_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationServer/GetDataResponse" message="tns:IApplicationServer_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTestees">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationServer/GetAllTestees" message="tns:IApplicationServer_GetAllTestees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationServer/GetAllTesteesResponse" message="tns:IApplicationServer_GetAllTestees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAllTestees">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationServer/SaveAllTestees" message="tns:IApplicationServer_SaveAllTestees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationServer/SaveAllTesteesResponse" message="tns:IApplicationServer_SaveAllTestees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestee">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationServer/GetTestee" message="tns:IApplicationServer_GetTestee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationServer/GetTesteeResponse" message="tns:IApplicationServer_GetTestee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainingQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationServer/GetTrainingQuestions" message="tns:IApplicationServer_GetTrainingQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationServer/GetTrainingQuestionsResponse" message="tns:IApplicationServer_GetTrainingQuestions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplicationServer" type="tns:IApplicationServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IApplicationServer/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTestees">
      <soap:operation soapAction="http://tempuri.org/IApplicationServer/GetAllTestees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAllTestees">
      <soap:operation soapAction="http://tempuri.org/IApplicationServer/SaveAllTestees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestee">
      <soap:operation soapAction="http://tempuri.org/IApplicationServer/GetTestee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingQuestions">
      <soap:operation soapAction="http://tempuri.org/IApplicationServer/GetTrainingQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationServer">
    <wsdl:port name="BasicHttpBinding_IApplicationServer" binding="tns:BasicHttpBinding_IApplicationServer">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>