QuizStaff/Client/Service References/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTesteeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TesteeDTO" nillable="true" type="tns:TesteeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTesteeDTO" nillable="true" type="tns:ArrayOfTesteeDTO" />
  <xs:complexType name="TesteeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attribute1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Histories" nillable="true" type="tns:ArrayOfHistoryDTO" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trainings" nillable="true" type="tns:ArrayOfTesteeTrainingDTO" />
      <xs:element minOccurs="0" name="UserSetting" nillable="true" type="tns:SettingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TesteeDTO" nillable="true" type="tns:TesteeDTO" />
  <xs:complexType name="ArrayOfHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryDTO" nillable="true" type="tns:HistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryDTO" nillable="true" type="tns:ArrayOfHistoryDTO" />
  <xs:complexType name="HistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnsweringDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfTesteeAnswerDTO" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="tns:QuestionDTO" />
      <xs:element minOccurs="0" name="QuestionId" type="ser:guid" />
      <xs:element minOccurs="0" name="Testee" nillable="true" type="tns:TesteeDTO" />
      <xs:element minOccurs="0" name="TesteeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryDTO" nillable="true" type="tns:HistoryDTO" />
  <xs:complexType name="ArrayOfTesteeAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TesteeAnswerDTO" nillable="true" type="tns:TesteeAnswerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTesteeAnswerDTO" nillable="true" type="tns:ArrayOfTesteeAnswerDTO" />
  <xs:complexType name="TesteeAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="tns:AnswerDTO" />
      <xs:element minOccurs="0" name="AnswerID" type="ser:guid" />
      <xs:element minOccurs="0" name="History" nillable="true" type="tns:HistoryDTO" />
      <xs:element minOccurs="0" name="HistoryID" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TesteeAnswerDTO" nillable="true" type="tns:TesteeAnswerDTO" />
  <xs:complexType name="AnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerDTO" nillable="true" type="tns:AnswerDTO" />
  <xs:complexType name="QuestionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfAnswerDTO" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Training" nillable="true" type="tns:TrainingDTO" />
      <xs:element minOccurs="0" name="TrainingId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionDTO" nillable="true" type="tns:QuestionDTO" />
  <xs:complexType name="ArrayOfAnswerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerDTO" nillable="true" type="tns:AnswerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerDTO" nillable="true" type="tns:ArrayOfAnswerDTO" />
  <xs:complexType name="TrainingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestionDTO" />
      <xs:element minOccurs="0" name="TesteeTrainings" nillable="true" type="tns:ArrayOfTesteeTrainingDTO" />
      <xs:element minOccurs="0" name="TrainingTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrainingDTO" nillable="true" type="tns:TrainingDTO" />
  <xs:complexType name="ArrayOfQuestionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionDTO" nillable="true" type="tns:QuestionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionDTO" nillable="true" type="tns:ArrayOfQuestionDTO" />
  <xs:complexType name="ArrayOfTesteeTrainingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TesteeTrainingDTO" nillable="true" type="tns:TesteeTrainingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTesteeTrainingDTO" nillable="true" type="tns:ArrayOfTesteeTrainingDTO" />
  <xs:complexType name="TesteeTrainingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Testee" nillable="true" type="tns:TesteeDTO" />
      <xs:element minOccurs="0" name="Training" nillable="true" type="tns:TrainingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TesteeTrainingDTO" nillable="true" type="tns:TesteeTrainingDTO" />
  <xs:complexType name="SettingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOfQuestionsPerDay" type="xs:int" />
      <xs:element minOccurs="0" name="CanUserEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="FrequencyOfAsking" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ShowCorrectAnswer" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeOfStart" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingDTO" nillable="true" type="tns:SettingDTO" />
  <xs:complexType name="ArrayOfTrainingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingDTO" nillable="true" type="tns:TrainingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingDTO" nillable="true" type="tns:ArrayOfTrainingDTO" />
</xs:schema>