QuizStaff/Client/Service References/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ApplicationServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTesteeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TesteeDTO" nillable="true" type="tns:TesteeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTesteeDTO" nillable="true" type="tns:ArrayOfTesteeDTO" />
  <xs:complexType name="TesteeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainModel" minOccurs="0" name="Histories" nillable="true" type="q1:ArrayOfHistory" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainModel" minOccurs="0" name="Trainings" nillable="true" type="q2:ArrayOfTesteeTraining" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DomainModel" minOccurs="0" name="UserSetting" nillable="true" type="q3:Setting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TesteeDTO" nillable="true" type="tns:TesteeDTO" />
  <xs:complexType name="SettingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOfQuestionsPerDay" type="xs:int" />
      <xs:element minOccurs="0" name="FrequencyOfAsking" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeOfStart" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingDTO" nillable="true" type="tns:SettingDTO" />
  <xs:complexType name="TrainingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DomainModel" minOccurs="0" name="Questions" nillable="true" type="q4:ArrayOfQuestion" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DomainModel" minOccurs="0" name="TesteeTrainings" nillable="true" type="q5:ArrayOfTesteeTraining" />
      <xs:element minOccurs="0" name="TrainingTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrainingDTO" nillable="true" type="tns:TrainingDTO" />
  <xs:complexType name="ArrayOfQuestionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionDTO" nillable="true" type="tns:QuestionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionDTO" nillable="true" type="tns:ArrayOfQuestionDTO" />
  <xs:complexType name="QuestionDTO">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DomainModel" minOccurs="0" name="Answers" nillable="true" type="q6:ArrayOfAnswer" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DomainModel" minOccurs="0" name="Training" nillable="true" type="q7:Training" />
      <xs:element minOccurs="0" name="TrainingId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionDTO" nillable="true" type="tns:QuestionDTO" />
  <xs:complexType name="ArrayOfTrainingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingDTO" nillable="true" type="tns:TrainingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingDTO" nillable="true" type="tns:ArrayOfTrainingDTO" />
</xs:schema>